<div>
    <h1>計算機</h1>
    <p>※上枠には入力値、下枠には計算結果が表示されます</p>
    <style>
      h1 {
        text-align:center;
        font-size : 35px;
      }
      p {
        text-align:center;
        font-size : 15px;
      }
    </style>
</div>
<div class="flame">
   <div class="calculator">
     <div class="display">
       <input type="text" [value]="display" disabled />
     </div>
     <div class="result">
       <input type="text" [value]="result" disabled />
     </div>

     <div class="buttons">
      <button (click)="onButtonClick('7')">7</button>
      <button (click)="onButtonClick('8')">8</button>
      <button (click)="onButtonClick('9')">9</button>
      <button class="operator" (click)="onButtonClick('÷')">÷</button>
  
      <button (click)="onButtonClick('4')">4</button>
      <button (click)="onButtonClick('5')">5</button>
      <button (click)="onButtonClick('6')">6</button>
      <button class="operator"(click)="onButtonClick('×')">×</button>
  
      <button (click)="onButtonClick('1')">1</button>
      <button (click)="onButtonClick('2')">2</button>
      <button (click)="onButtonClick('3')">3</button>
      <button class="operator"(click)="onButtonClick('-')">-</button>
  
      <button (click)="onButtonClick('0')">0</button>
      <button (click)="onButtonClick('.')">.</button>
      <button class="operator"(click)="onButtonClick('=')">=</button>
      <button class="operator"(click)="onButtonClick('+')">+</button>
  
      <button class="delete"(click)="onButtonClick('AC')">AC</button>
      <button class="delete"(click)="onButtonClick('DEL')">DEL</button>
     </div>
  </div>
</div>