<div>
    <h1>計算機</h1>
    <p>※上枠には入力値、下枠には計算結果が表示されます</p>
    <style>
      h1 {
        text-align:center;
        font-size : 35px;
        margin-bottom: 5px;
      }
      p {
        text-align:center;
        font-size : 12px;
        margin-top: 0;
      }
    </style>
</div>
<div class="flame">
   <div class="calculator">
     <div class="display">
       <div class="scrollable-box" #displayBox>{{ display }}</div>
     </div>
     <div class="result">
      <div class="scrollable-box" #resultBox>{{ result }}</div>
     </div>

     <div class="buttons">
         
      <button (click)="onButtonClick('7')" [disabled]="isButtonDisabled('7')">7</button>
      <button (click)="onButtonClick('8')" [disabled]="isButtonDisabled('8')">8</button>
      <button (click)="onButtonClick('9')" [disabled]="isButtonDisabled('9')">9</button>
      <button class="operator" (click)="onButtonClick('÷')" [disabled]="isButtonDisabled('÷')">÷</button>
  
      <button (click)="onButtonClick('4')" [disabled]="isButtonDisabled('4')">4</button>
      <button (click)="onButtonClick('5')" [disabled]="isButtonDisabled('5')">5</button>
      <button (click)="onButtonClick('6')" [disabled]="isButtonDisabled('6')">6</button>
      <button class="operator"(click)="onButtonClick('×')" [disabled]="isButtonDisabled('×')">×</button>
  
      <button (click)="onButtonClick('1')" [disabled]="isButtonDisabled('1')">1</button>
      <button (click)="onButtonClick('2')" [disabled]="isButtonDisabled('2')">2</button>
      <button (click)="onButtonClick('3')" [disabled]="isButtonDisabled('3')">3</button>
      <button class="operator"(click)="onButtonClick('-')" [disabled]="isButtonDisabled('-')">-</button>
  
      <button (click)="onButtonClick('0')" [disabled]="isButtonDisabled('0')">0</button>
      <button (click)="onButtonClick('.')" [disabled]="isButtonDisabled('.')">.</button>
      <button class="operator"(click)="onButtonClick('=')" [disabled]="isButtonDisabled('=')">=</button>
      <button class="operator"(click)="onButtonClick('+')" [disabled]="isButtonDisabled('+')">+</button>
  
      <button class="delete"(click)="onButtonClick('AC')">AC</button>
      <button class="delete"(click)="onButtonClick('CE')">CE</button>
      <button class="delete"(click)="onButtonClick('DEL')">DEL</button>
     </div>
  </div>
</div>